body{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
.navbarheader{
    background-color: #778899;
    margin:auto;

}
#f1
{
    color: aliceblue;
    font-size: 48px;
    font-display: block;
    font-style:oblique;
    text-shadow: 4px 4px 4px rgb(79, 20, 189);
    margin-left:5%;
    
}
#f2{
    font-style: italic;
    font-weight: bolder;
    display: grid;
    margin-left: 5%;  
}
#p1
{
    margin-top: -1%;
}
#mySidenav a:hover{
  font:bolder;
  }
  .sidenav{
      text-align: right;
      margin: auto;
      margin-right: 1%;
      font-variant: small-caps;
      font-weight: bolder;
      font-size: .5cm;
  }
  
.topnav {
    background-color: rgb(13, 4, 74);
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    font-style: italic;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(214, 20, 20);
    
  }
  .background{
    background: url(rightback.jpg) right bottom no-repeat, url(back.jpg) left top no-repeat;
    background-size: contain;
    height: 500px;
  }
  #abc0
  {
color:rgb(244, 255, 42);
font-size: larger;
font-variant: small-caps;
font-style: oblique;
text-decoration:solid;
text-transform: capitalize;
text-shadow: 4px 4px 4px rgb(245, 32, 32);

  }
  .button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #5b24d1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
  }
  .right
  {
    text-align: right;
  }
  .button:hover {background-color: #dbf73a}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5%;
    margin: 12.2px;
  }
   .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .container {
    padding: 2px 16px;
    text-align: center;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
  }
  h4
  {
    color: #5b24d1;
  }
  h2{
    font-weight:bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(16, 30, 73);
    padding: 2%;
    text-decoration-line:underline
  }
  @media(max-width: 767px){
    .background{
      background:url(./back.jpg) left top no-repeat;
      background-size: contain;
      background-repeat: no-repeat;
      align-items: right;
      height: 500px;
    }
    
  }
  @media(max-width: 574px){
    .background{
      background: url(./back.jpg) left top no-repeat;
      background-size: contain;
      background-repeat: no-repeat;
      align-items: right;
      height: 500px;
    }
   
  }

